[Unit]
Description=Nexus Personal Manager (Flask/Gunicorn)
After=network.target

[Service]
User=widson
Group=www-data
WorkingDirectory=/home/widson/Projetos/Nexus/nexus
Environment="PATH=/home/widson/Projetos/Nexus/nexus/.venv/bin"
EnvironmentFile=/home/widson/Projetos/Nexus/nexus/.env
ExecStart=/home/widson/Projetos/Nexus/nexus/.venv/bin/gunicorn -c gunicorn.conf.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
